# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

build/
/build

dist/
/dist

/dist-electron
dist-electron/

# Wails build output
build/bin/
build/windows/
build/wails/
build/appicon.png
frontend/dist/
frontend/node_modules/

# Go build artifacts
*.exe
manager.exe

/.spicetify
.spicetify/

archive.zip

.env.local

/release
release/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
package-lock.json
build/darwin/Info.dev.plist
build/darwin/Info.plist
frontend/wailsjs/go/main/App.js
frontend/wailsjs/go/main/App.js
frontend/wailsjs/go/main/App.js
frontend/wailsjs/runtime/package.json
frontend/wailsjs/runtime/runtime.d.ts
frontend/wailsjs/runtime/runtime.js
frontend/wailsjs/runtime/package.json
